html,body{
	background: linear-gradient(#87BBDF, #005EA0);
	overflow: hidden;
}
@font-face{
	font-family: 'Raleway', sans-serif;
	font-family: 'Lato', sans-serif;
}
.search-box{
	position:absolute;
	top: 6%;
	left: 72.5%;
	transform:translate(-50%,-50%);
	background: rgba(257, 257, 257, 0.2);
	height: 20px;
	width: 330px;
	border-radius: 40px;
	padding: 10px;
}
.search-btn{
	color: white;
	float: left;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.search-txt{
	border: none;
	background: none;
	outline: none;
	float: right;
	padding: 0;
	color: white;
	transition: 0.4s;
	line-height: 20px;
	width: 260px;
    font-weight: 90;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.7;
	font-family: "Quicksand";
}
.fas{
	opacity: 0.7;
}
#artist{
	position: absolute;
	width: 300px;
	top: 50%;
	margin-left: 10%;
}
#color-box{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-left: 10px;
	height: 235px;
	width: 35px;
}
.box-1{
	background-color: #4699D6;
	position: absolute;
	height: 35px;
	width: 35px;
}
.box-2{
	top: 75px;
	background-color: #FF8A00;
	position: absolute;
	height: 35px;
	width: 35px;
}
.box-3{
	top: 125px;
	background-color: #FEDE31;
	position: absolute;
	height: 35px;
	width: 35px;
}

#artist{
	top: 30%;
}
h1{
	color: white;
	opacity: 80%;
	display: inline-block;
    font-weight: 400;
    font-size: 40px;
    line-height: 18px;
    letter-spacing: 2;
	font-family: "Quicksand";

}
p{
	color: rgba(257, 257, 257, 0.7);
	display: inline-block;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1;
	font-family: "Lato";
}
h3{
	margin-left: 10px;
	color: white;
	opacity: 80%;
	display: inline-block;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.7;
	font-family: "Lato";

}
.home {
	opacity: 80;
	background-size: 100%;
}
#artistname{
	text-transform: lowercase;
	color: #FFFFFF;
	opacity: 30;
	font-size: 64;
	font:;
	writing-mode: vertical-rl;
}

#track-box{
	position: absolute;
	width: 400px;
	height: 513px;
	top: 20%;
	margin-left: 60%;

}
#track-column{
	display: flex;
	flex-direction: column;
}
.track-row{
  	display: flex;
 	flex-direction: row;
}
.track-name{
	margin-left:10px;
}
#track-row-1{
	padding-top: 15px;
}
#track-row-2{
	padding-top: 15px;
}
#track-row-3{
	padding-top: 15px;
}
#track-row-4{
	padding-top: 15px;
}
#track-row-5{
	padding-top: 15px;
}
#track-row-6{
	padding-top: 15px;
}
.track-color{
	width: 15px;
	height: 73px;
	background-color: #0371BD;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.track-cover{
	width: 73px;
	height: 73px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.track-opacity{
	width: 260px;
	height: 73px;
	background-color: rgba(255, 255, 255, 0.2);	
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.track-logo{
	float: right;
	width: 20px;
	height: 20px;
	margin-right:10px;
	margin-top:10px;
}
.play-button{
	width: 30px;
	height: 30px;
	position: absolute;
	margin-top: 25px;
	margin-left: 20px;
}
.overlay {
	opacity: 1;
	background-color:#1587D6;
	position: absolute;
	right: 55%; 
	width: 50%; 
	height: 100%;
	margin-top: -10px;
	background-position: 0 0; 
	background-repeat:no-repeat; 
	background-size: cover;
}
.homebackground {  
	opacity: 0.25;
	background-color:#1587D6;
	position: absolute;
	right: 55%; 
	width: 50%; 
	height: 100%;
	margin-top: -10px;
	background-position: 0 0; 
	background-repeat:no-repeat; 
	background-size: cover;
}


